In [9]:
import pandas as pd
import requests
import pymysql

In [10]:
community = requests.get("http://127.0.0.1:5000/community")
taxi = requests.get("http://127.0.0.1:5000/taxi")
company = requests.get("http://127.0.0.1:5000/company")
location = requests.get("http://127.0.0.1:5000/location")
trips = requests.get("http://127.0.0.1:5000/trips/4/") #only American United (company_id = 4) called

In [11]:
community = community.json()
community = pd.json_normalize(community)

taxi = taxi.json()
taxi = pd.json_normalize(taxi)

company = company.json()
company = pd.json_normalize(company)

location = location.json()
location = pd.json_normalize(location)

trips = trips.json()
trips = trips['data']
trips = pd.json_normalize(trips)

In [14]:
display(trips.head())
display(community.head())
display(taxi.head())
display(company.head())
display(location.head())

,company_id,dropoff_community_area,dropoff_latitude,dropoff_location,dropoff_longitude,extras,fare,payment_type,pickup_community_area,pickup_latitude,pickup_location,pickup_longitude,taxi_id,tips,trip_end_timestamp,trip_miles,trip_seconds,trip_start_timestamp,trip_total,unique_key
0,4,32,41.884987,"41.884987192, -87.620992913",-87.620993,1.50,5.45,Credit Card,32,41.880994,"41.880994471, -87.632746489",-87.632746,b19847c6c45cc89f385408086d905e8de9069bd2ac1715...,1.00,"Thu, 19 Mar 2015 15:00:00 GMT",1.0,287.0,"Thu, 19 Mar 2015 15:00:00 GMT",7.95,000008622a94904e7ba554663f7e286fa38c362e
1,4,32,41.877406,"41.877406123, -87.621971652",-87.621972,0.00,6.65,Credit Card,8,41.895033,"41.89503345, -87.619710672",-87.619711,17d9b7691aef7770e5a9e499426b26049100251dbb41dd...,1.00,"Mon, 15 Jun 2015 09:00:00 GMT",1.2,471.0,"Mon, 15 Jun 2015 09:00:00 GMT",7.65,0000282684214e9e541533eae7b74d315dc4cf04
2,4,56,41.792592,"41.79259236, -87.769615453",-87.769615,2.00,34.65,Cash,5,41.947792,"41.947791586, -87.683834942",-87.683835,b5c02d201b243945eb850f84478b473694a0b017009daa...,0.00,"Wed, 15 Apr 2015 08:15:00 GMT",15.4,2785.0,"Wed, 15 Apr 2015 07:30:00 GMT",36.65,0000dc2c3d82d4198dffbbe5b9a1a2b402f2983e
3,4,8,41.892508,"41.892507781, -87.626214906",-87.626215,0.50,6.85,Credit Card,32,41.880994,"41.880994471, -87.632746489",-87.632746,9993904a2f796897a5b465ee4440c2e5cf569afc773e2f...,2.00,"Tue, 11 Aug 2015 08:15:00 GMT",1.0,543.0,"Tue, 11 Aug 2015 08:00:00 GMT",9.35,0000e731269eef2329b63290c3ad5a74b5e06e39
4,4,8,41.893216,"41.89321636, -87.63784421",-87.637844,0.00,5.45,Credit Card,32,41.880994,"41.880994471, -87.632746489",-87.632746,341cead8979074196f3231099ef811c4e905d7031dd6d7...,3.00,"Mon, 12 Oct 2015 08:45:00 GMT",0.9,294.0,"Mon, 12 Oct 2015 08:45:00 GMT",8.45,0000ef5d98a13d470568d323cb46b9cb954aeb4c

   community_name  community_number  population
0     Rogers Park                 1       55628
1      West Ridge                 2       77122
2          Uptown                 3       57182
3  Lincoln Square                 4       40494
4    North Center                 5       35114

,company_id,public_vehicle_number,taxi_id,vehicle_color,vehicle_fuel_source,vehicle_make,vehicle_model_year
0,4,2590,0041f8f0c91881c1e1913f2548522495fe3c4c719aa67f...,WHITE,Hybrid,FORD,2012
1,4,2324,026680639419aa9f5c6a661503df648c66c6621db33fee...,WHITE,Hybrid,TOYOTA,2014
2,4,1668,0300862a19483bcacac6176544abf331b8a3d41ec6efda...,WHITE,Hybrid,TOYOTA,2013
3,4,6537,0309e367d50b97dc7c5d764697737bfac5e6d048f72798...,WHITE,Hybrid,FORD,2012
4,4,2862,03cc788ae35f829575456d05381274aab1700ba7b0ea78...,WHITE,Hybrid,NISSAN,2011

,address,business_phone,city_state,company,company_id,dispatch_phone,email,taxi_exterior_color,zip
0,9696 W. FOSTER AVE,773-561-4444,"CHICAGO, IL",Flash Cab,1,773-561-4444,info@flash.com,White,60656
1,"3800 N MILWAUKEE AVE, SUITE A",773-907-0200,"CHICAGO, IL",Yellow Cab,2,312-829-4222,None,Yellow,60641
2,2617 S. WABASH AV,312-791-1180,"CHICAGO, IL",Chicago Carriage Cab Corp,3,312-326-2221,None,"Maroon, Blue Stripes",60616
3,"3800 N MILWAUKEE AVE, SUITE A",773-327-6161,"CHICAGO, IL",American United,4,773-248-7600,None,"White, Stars, Stripes",60641
4,2601 W. PETERSON AV,773-907-0050,"CHICAGO, IL",City Service,5,773-907-0909,None,White,60659

,address,location_coordinates
0,"East 130th Street, Philip Murray Homes, Riverd...","41.660136051, -87.60284764"
1,"IDNR Burnham Greenway Trail, Hegewisch, Chicag...","41.663670652, -87.540935513"
2,"12109, South Parnell Avenue, Stewart Ridge, We...","41.673819904, -87.635739777"
3,"11173, South Esmond Street, Morgan Park, Chica...","41.689729914, -87.669054403"
4,"Big Marsh Park, 11555, South Stony Island Aven...","41.690633347, -87.570058269"

(1000, 20)