# 1. Data Collection
- In this section, we are going to extract relevant dataset from 4 different data sources:
  - 1-1. Big Query Google Cloud Platofrm (GCP): Chicago Taxi Trips
  - 1-2. Wikipedia - Chicago Community Areas (Available at: https://en.wikipedia.org/wiki/Community_areas_in_Chicago)
  - 1-3. Nominatim API - OpenStreetMap Data (Avaiable at: https://nominatim.org/)
  - 1-4. Flatfiles

## 1-1. Extracting Public Dataset from Google Cloud Platform
- Due to the large size of the dataset on GCP and the slow loading speed on our current local machine, this project will focus on trips that took place in 2015. It will specifically analyze the top 5 highest demand taxi companies: 'Yellow Cab', 'American United', 'Checker Taxi', 'Blue Diamond', and '5 Star Taxi'.

In [ ]:
from google.cloud import bigquery

client = bigquery.Client()


QUERY = """
SELECT * 
FROM `chicago_taxi.chicago_taxi_main`
WHERE trip_year = 2015
AND company IN ('Yello Cab', 'American United', 'Checker Taxi', 'Blue Diamond', '5 Star Taxi')
"""

query_job = client.query(QUERY)

In [ ]:
chicago_taxi = query_job.to_dataframe()

In [ ]:
chicago_taxi.to_csv("chicago_taxi.csv", index=False)

In [1]:
import pandas as pd
chicago_taxi = pd.read_csv("chicago_taxi.csv")

In [2]:
chicago_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1778219 entries, 0 to 1778218
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   unique_key              object
 1   taxi_id                 object
 2   trip_year               int64
 3   trip_start_timestamp    object
 4   trip_start_date         object
 5   trip_start_time         object
 6   trip_end_timestamp      object
 7   trip_end_date           object
 8   trip_end_time           object
 9   trip_seconds            float64
 10  trip_miles              float64
 11  pickup_community_area   float64
 12  dropoff_community_area  float64
 13  fare                    float64
 14  tips                    float64
 15  tolls                   float64
 16  extras                  float64
 17  trip_total              float64
 18  payment_type            object
 19  company                 object
 20  pickup_latitude         float64
 21  pickup_longitude        float64
 22  dropoff_latitude        float64
 23  dropoff_longitude       float64
dtypes: float64(13), int64(1), object(10)
memory usage: 325.6+ MB

## 1-2. Webscraping Community Area Information

- In the Chicago Taxi Trip dataset from GCP, the community area is represented by numbers, suggesting that there could be additional valuable information to explore. This information might be particularly useful for implementing business strategies, such as when a taxi company targets specific areas and demographic groups. For future use, we will store this information in our database.

In [3]:
import requests
import re
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/Community_areas_in_Chicago'

response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

tbody = soup.find('tbody')
if tbody:
    rows = tbody.find_all('tr')

    community_numbers = []
    community_names = []
    populations = []

    for row in rows[1:]:  
        cols = row.find_all('td')
        if len(cols) > 2:
            community_numbers.append(cols[0].text.strip())
            community_names.append(row.find('th').text.strip()) 
            populations.append(cols[1].text.strip()) 

    community = pd.DataFrame({
        'community_number': community_numbers,
        'community_name': community_names,
        'population': populations
    })
    community=community[0:77]
    print(community)
else:
    print("Table body not found on the page")

   community_number      community_name population
0                01         Rogers Park     55,628
1                02          West Ridge     77,122
2                03              Uptown     57,182
3                04      Lincoln Square     40,494
4                05        North Center     35,114
..              ...                 ...        ...
72               73  Washington Heights     25,065
73               74     Mount Greenwood     18,628
74               75         Morgan Park     21,186
75               76              O'Hare     13,418
76               77           Edgewater     56,296

[77 rows x 3 columns]

## 1-3. Nominatim API - OpenStreetMap

- We are going to use the Nominatim API, which provides detailed geographic information, including specific addresses and types of locations based on specific geographic coordinates (i.e., latitude, longitude). As we have geo-coordinates provided in the Chicago taxi trips dataset, we are able to identify the pick-up and drop-off information in more detail.

In [10]:
def get_location_details(lat, lon):
    url = f"https://nominatim.openstreetmap.org/reverse?lat={lat}&lon={lon}&format=json"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        location_name = data.get('display_name')
        location_type = data.get('type')
        return pd.Series([location_name, location_type])
    else:
        return pd.Series(["Error", "Error"])

- To intergrade the API data, we first need to manipulate the chicago taxi trip dataset by concatenate the latitude and longitude to get the unique single location. Thus, we are going to create addition columns called 'pickup_location' and 'dropoff_location'.

In [5]:
chicago_taxi['pickup_location'] = chicago_taxi.apply(lambda row: f"{row['pickup_latitude']}, {row['pickup_longitude']}", axis=1)
chicago_taxi['dropoff_location'] = chicago_taxi.apply(lambda row: f"{row['dropoff_latitude']}, {row['dropoff_longitude']}", axis=1)

- We are going to create two tables, named 'pickup_location_info' and 'dropoff_location_info', to integrate information from the Nominatim API for the extraction of additional geographic information, respectively. Each table will contain the following information: pickup_location, latitude, longitude, address, and location_type.

In [14]:

# creating pikup location table intergrating API
pickup_location = chicago_taxi['pickup_location'].unique()
pickup_location_info = pd.DataFrame(pickup_location)
pickup_location_info.rename(columns={0: 'pickup_location'}, inplace=True)
pickup_location_info[['latitude', 'longitude']] = pickup_location_info['pickup_location'].str.split(',', expand=True)
pickup_location_info[['address','type']] = pickup_location_info.apply(lambda row: get_location_details(row['latitude'], row['longitude']), axis=1)
pickup_location_info['latitude'] = pickup_location_info['latitude'].astype(float)
pickup_location_info['longitude'] = pickup_location_info['longitude'].astype(float)

# creating dropoff location table intergrating API
dropoff_location = chicago_taxi['dropoff_location'].unique()
dropoff_location_info = pd.DataFrame(dropoff_location)
dropoff_location_info.rename(columns={0: 'dropoff_location'}, inplace=True)
dropoff_location_info[['latitude', 'longitude']] = dropoff_location_info['dropoff_location'].str.split(',', expand=True)
dropoff_location_info[['address','type']] = dropoff_location_info.apply(lambda row: get_location_details(row['latitude'], row['longitude']), axis=1)
dropoff_location_info['latitude'] = dropoff_location_info['latitude'].astype(float)
dropoff_location_info['longitude'] = dropoff_location_info['longitude'].astype(float)

pickup_location_info, dropoff_location

(                 pickup_location   latitude  longitude  \
 0     41.94258518, -87.656644092  41.942585 -87.656644
 1       41.88528132, -87.6572332  41.885281 -87.657233
 2      41.89321636, -87.63784421  41.893216 -87.637844
 3    41.936237179, -87.656411531  41.936237 -87.656412
 4     41.89503345, -87.619710672  41.895033 -87.619711
 ..                           ...        ...        ...
 421  41.928464984, -87.695086675  41.928465 -87.695087
 422  41.798041716, -87.594196627  41.798042 -87.594197
 423  41.985916382, -87.768970241  41.985916 -87.768970
 424  41.776163693, -87.579948248  41.776164 -87.579948
 425  42.005559764, -87.901885838  42.005560 -87.901886

                                                address         type
 0    3331, North Seminary Avenue, Wrigleyville, Lak...          yes
 1    Twelve01West, 1201, West Lake Street, Fulton M...   apartments
 2    350-372, West Ontario Street, Near North Side,...   commercial
 3    1056, West Wellington Avenue, Lake View, Chica...          yes
 4    Northwestern University Chicago Campus, North ...   university
 ..                                                 ...          ...
 421  2608-2614, North Washtenaw Avenue, Maplewood, ...          yes
 422  1314-1316, East 54th Street, Hyde Park, Chicag...  residential
 423  5712, North Manton Avenue, Gladstone, Jefferso...          yes
 424  Jackson Park Golf Course, 6401, South Richards...  golf_course
 425  DHL Global Forwarding, 895, Upper Express Driv...   post_depot

 [426 rows x 5 columns],
 array(['41.942691844, -87.651770507', '41.912431869, -87.670189148',
        '41.892042136, -87.63186395', '41.941555829, -87.666288887',
        '41.892493167, -87.664745836', '41.89830587, -87.653613982',
        '41.975170943, -87.687515515', '41.901206994, -87.676355989',
        '41.944226601, -87.655998182', '41.892072635, -87.628874157',
        '41.942577185, -87.647078509', '41.899589796, -87.674719134',
        '41.906025969, -87.675311622', '41.9416281, -87.661443368',
        '41.921778356, -87.641459759', '41.885300022, -87.642808466',
        '41.891971508, -87.612945414', '41.880994471, -87.632746489',
        '41.928967266, -87.656156831', '41.921647132, -87.689951469',
        '41.878865584, -87.625192142', '41.899602111, -87.633308037',
        '41.994442248, -87.665224776', '41.906650766, -87.66533766',
        '41.952822916, -87.653243992', '41.936237179, -87.656411531',
        '41.879255084, -87.642648998', '41.936159071, -87.661265218',
        '41.88528132, -87.6572332', '41.900221297, -87.629105186',
        '41.92276062, -87.699155343', '41.949829346, -87.64396537',
        '41.950673358, -87.666536281', '41.890922026, -87.618868355',
        '41.908378669, -87.670945075', '41.921778188, -87.651061884',
        '41.904935302, -87.649907226', 'nan, nan',
        '41.946294536, -87.654298084', '41.942872538, -87.701330291',
        '41.794090253, -87.592310855', '41.966774943, -87.710848208',
        '41.89321636, -87.63784421', '41.950442599, -87.68350623',
        '41.859349715, -87.617358006', '41.936310131, -87.651562592',
        '41.972667956, -87.663865496', '41.89503345, -87.619710672',
        '41.944813754, -87.69077501', '41.900069603, -87.720918238',
        '41.892507781, -87.626214906', '41.938391258, -87.63857492',
        '41.926811182, -87.642605247', '41.94258518, -87.656644092',
        '41.90749193, -87.63576009', '41.949139771, -87.656803909',
        '41.943155086, -87.640698076', '41.934539716, -87.643022804',
        '41.92926299, -87.635890954', '41.928945904, -87.66089257',
        '41.949220914, -87.651970395', '41.922082541, -87.634156093',
        '41.943237122, -87.643470956', '41.921854911, -87.646210977',
        '41.929272532, -87.673807238', '41.928763006, -87.665676837',
        '41.867902418, -87.642958665', '41.957735565, -87.683718102',
        '41.922686284, -87.649488729', '41.870607372, -87.622172937',
        '41.942859303, -87.717503858', '41.879066994, -87.657005027',
        '41.934659157, -87.646729729', '41.938232293, -87.646782081',
        '41.928391397, -87.704907236', '41.884987192, -87.620992913',
        '42.001571027, -87.695012589', '41.899155613, -87.626210532',
        '41.857183858, -87.620334624', '41.929077655, -87.646293476',
        '41.899422254, -87.684490122', '41.96581197, -87.655878786',
        '41.972709547, -87.657341107', '41.980264315, -87.913624596',
        '41.898331794, -87.620762865', '41.978829526, -87.771166703',
        '41.79259236, -87.769615453', '41.97907082, -87.903039661',
        '41.874005383, -87.66351755', '41.77887686, -87.594925439',
        '41.835117986, -87.618677767', '41.947791586, -87.683834942',
        '42.009622881, -87.670166857', '41.927260956, -87.765501609',
        '41.9867118, -87.663416405', '41.909495669, -87.630963601',
        '41.877406123, -87.621971652', '41.785998518, -87.750934289',
        '41.93057857, -87.642206313', '41.87866742, -87.671653621',
        '41.861280847, -87.630580061', '41.972562538, -87.678845966',
        '41.921701492, -87.655911848', '41.849246754, -87.624135298',
        '41.7904694, -87.601285122', '41.914616286, -87.631717366',
        '41.907520075, -87.6266589', '41.902788048, -87.62614559',
        '41.958154876, -87.653021789', '41.983636307, -87.723583185',
        '41.914747305, -87.654007029', '41.916005274, -87.675095116',
        '41.968069, -87.721559063', '41.87101588, -87.631406525',
        '41.980157574, -87.652274017', '41.851017824, -87.635091856',
        '41.938666196, -87.711210593', '41.850266366, -87.667569312',
        '41.905857769, -87.630865027', '41.899737388, -87.664953917',
        '41.953582125, -87.72345239', '41.842076117, -87.633973422',
        '41.900560384, -87.69419737', '41.924347077, -87.734739754',
        '42.001698194, -87.673574032', '41.986808626, -87.694415191',
        '41.870415, -87.675085621', '41.836150155, -87.648787952',
        '41.912364354, -87.675062757', '41.916473316, -87.641183657',
        '41.934762456, -87.639853859', '41.808916283, -87.596183344',
        '41.860190019, -87.7172201', '41.914585709, -87.645966207',
        '41.833517886, -87.681355829', '41.892658108, -87.652534484',
        '41.761577908, -87.572781987', '41.946489764, -87.647113634',
        '41.812948939, -87.617859676', '41.982775009, -87.8773054',
        '41.863787123, -87.692515928', '41.954027649, -87.763399032',
        '41.795430631, -87.696435232', '41.897983898, -87.641491533',
        '41.847431547, -87.663528686', '41.985015101, -87.804532006',
        '41.972437081, -87.671109526', '41.890608853, -87.756046711',
        '41.900265687, -87.63210922', '41.921877461, -87.66407824',
        '41.953400044, -87.646007066', '41.907412816, -87.640901525',
        '41.856333217, -87.659564239', '41.950605232, -87.671332488',
        '41.928619051, -87.685362024', '41.899506548, -87.679600287',
        '41.957843375, -87.676373281', '41.779582888, -87.768510849',
        '41.993930128, -87.758353588', '41.958055933, -87.660389456',
        '41.941422478, -87.675953932', '41.911972301, -87.683642922',
        '41.929046937, -87.651310877', '41.90156691, -87.638404012',
        '41.763246799, -87.616134111', '41.962178629, -87.645378762',
        '41.972929317, -87.650290074', '41.945010151, -87.680928225',
        '41.945170453, -87.668794439', '41.906771332, -87.681025231',
        '41.972035672, -87.686099898', '41.920451512, -87.679954768',
        '41.912868922, -87.641070746', '41.936086535, -87.666110694',
        '41.892355048, -87.674506788', '41.921084583, -87.704648384',
        '41.965445784, -87.66319585', '41.892433156, -87.66962393',
        '41.979912445, -87.664188242', '41.963633169, -87.652365359',
        '41.941488234, -87.671107656', '41.906638542, -87.689579834',
        '41.91922505, -87.671445766', '41.82371281, -87.602350437',
        '41.963374382, -87.67018455', '41.89967018, -87.669837798',
        '41.713148612, -87.675075312', '41.798041716, -87.594196627',
        '42.016010564, -87.680162272', '41.869274453, -87.664047241',
        '41.94651142, -87.806020002', '42.007612593, -87.813781034',
        '41.966834067, -87.684018371', '41.921273105, -87.68508211',
        '41.892536872, -87.659864318', '41.790506261, -87.583143717',
        '41.771848515, -87.695666342', '41.950545696, -87.676182496',
        '41.935988906, -87.670966384', '41.80908443, -87.632424524',
        '41.839086906, -87.714003807', '41.775928827, -87.666596265',
        '41.80901825, -87.659166599', '41.829922304, -87.672502646',
        '41.983330806, -87.681993542', '41.949060526, -87.661642904',
        '41.982272929, -87.841586432', '41.945282331, -87.661545096',
        '41.963184966, -87.683854556', '41.945069205, -87.67606274',
        '41.988704022, -87.657234828', '41.863422684, -87.653756619',
        '41.957530922, -87.66661144', '41.935706471, -87.703854544',
        '41.921125914, -87.699754406', '41.957903897, -87.671518011',
        '41.9725808, -87.694001061', '41.744205146, -87.656305986',
        '41.906707792, -87.684685949', '41.91213208, -87.689711275',
        '41.706125752, -87.598255838', '41.928431564, -87.699968591',
        '41.810879008, -87.726363325', '41.84201118, -87.622036461',
        '41.792981903, -87.724208194', '41.920801704, -87.694532342',
        '41.934650448, -87.634647877', '41.871689474, -87.654092652',
        '41.827437232, -87.632558769', '41.915909788, -87.68382594',
        '41.878914496, -87.70589713', '41.921019607, -87.710359144',
        '41.89869923, -87.708808424', '41.792357223, -87.61793138',
        '41.717493036, -87.648895072', '41.957651916, -87.691530248',
        '41.777196255, -87.642497527', '41.805911699, -87.587479258',
        '41.817366208, -87.698860797', '41.884767784, -87.684147449',
        '41.689729914, -87.669054403', '41.994059824, -87.694630719',
        '41.929329713, -87.711974254', '41.965141709, -87.676578071',
        '41.929759047, -87.724267094', '41.744199535, -87.586348318',
        '41.874176625, -87.661861124', '41.985472422, -87.653793529',
        '41.952719111, -87.660503502', '41.926155817, -87.721564501',
        '41.935983574, -87.675821928', '41.94136566, -87.680826903',
        '41.937401794, -87.722330298', '41.844660776, -87.649072244',
        '41.745757713, -87.708365704', '41.783224518, -87.598697371',
        '41.892276708, -87.679397479', '41.987225558, -87.664937724',
        '41.967011761, -87.670621043', '41.769778059, -87.726929842',
        '41.979795551, -87.671445547', '41.955771787, -87.701213104',
        '41.991234532, -87.65730427', '41.740205756, -87.615969523',
        '41.967288614, -87.652435', '41.978294249, -87.716430416',
        '41.741242728, -87.551428197', '41.979855309, -87.694096022',
        '41.891948382, -87.689125909', '41.915741193, -87.692256326',
        '41.892196429, -87.6842894', '41.978875058, -87.657871263',
        '41.959526791, -87.702098541', '41.964506955, -87.70273347',
        '41.935438915, -87.693325868', '41.966806346, -87.694020097',
        '41.957360691, -87.722822251', '41.899445769, -87.68931919',
        '42.005559764, -87.901885838', '42.015934376, -87.666536278',
        '41.878594358, -87.730232428', '42.000320306, -87.6631268',
        '41.840930806, -87.660617833', '41.950077635, -87.722610871',
        '42.001313249, -87.684198195', '41.993440946, -87.657417742',
        '41.877383471, -87.680654116', '41.856144105, -87.648978324',
        '41.834480698, -87.632959635', '41.980606166, -87.654537868',
        '41.957264108, -87.730898785', '41.841928026, -87.62836651',
        '42.004517488, -87.663327859', '41.694878966, -87.713192497',
        '41.933675988, -87.712357476', '41.886005786, -87.671873941',
        '41.841691119, -87.612563947', '41.935749459, -87.680980301',
        '41.707311449, -87.534902901', '41.860762262, -87.700691903',
        '41.706587882, -87.623366512', '41.949974454, -87.730684255',
        '41.963153311, -87.69225876', '42.009018227, -87.672723959',
        '41.950404411, -87.702007128', '42.009412547, -87.663958214',
        '41.982745595, -87.657966347', '41.985476499, -87.65839767',
        '42.004764559, -87.659122427', '41.941311617, -87.685615817',
        '41.870268722, -87.684913926', '41.8713514, -87.6886749',
        '41.86958386, -87.659204671', '41.790566628, -87.594015444',
        '41.834673598, -87.610834737', '41.964636199, -87.742787877',
        '41.673819904, -87.635739777', '41.912084382, -87.6945983',
        '41.969205937, -87.723168974', '41.729676423, -87.572717134',
        '42.006278861, -87.66768361', '41.920960866, -87.715252818',
        '41.797153425, -87.582365702', '41.915613238, -87.704479575',
        '41.929297368, -87.798032181', '41.99438102, -87.672538401',
        '41.88414467, -87.747874339', '41.855934366, -87.668574537',
        '41.988702646, -87.804404812', '41.950212096, -87.712814232',
        '41.990064253, -87.72396783', '41.93749397, -87.709987338',
        '41.788869841, -87.771912186', '41.986953058, -87.672080994',
        '41.994266094, -87.678688211', '41.834962325, -87.625154127',
        '41.856309817, -87.644209287', '42.000874825, -87.701802904',
        '41.690633347, -87.570058269', '41.970288894, -87.759857019',
        '41.838295797, -87.69675634', '41.91292537, -87.7753675',
        '41.904712, -87.701884559', '41.828119978, -87.690754177',
        '41.806021704, -87.594347985', '41.991119555, -87.74005519',
        '41.994143646, -87.704893486', '41.985916382, -87.768970241',
        '42.001315924, -87.693637494', '41.885621155, -87.698891591',
        '41.928464984, -87.695086675', '42.007446924, -87.704605634',
        '41.949876432, -87.738141891', '41.844144961, -87.68299621',
        '41.995512991, -87.655814902', '41.832937181, -87.65358342',
        '41.790447899, -87.590431128', '41.797965209, -87.589607031',
        '41.863118103, -87.672920435', '41.92556723, -87.712327602',
        '41.997153943, -87.657498791', '41.897425765, -87.699374404',
        '41.891697045, -87.702105247', '41.663670652, -87.540935513',
        '41.980506822, -87.826676182', '42.008487008, -87.685913133',
        '41.906683959, -87.710353935', '41.783034178, -87.582630304',
        '41.955584115, -87.713090057', '41.83380026, -87.66757156',
        '41.970244982, -87.713435328', '42.002015464, -87.774994789',
        '41.807617617, -87.621436144', '41.933785052, -87.72205233',
        '41.915707408, -87.699596792', '41.820456907, -87.600691571',
        '41.915540408, -87.720099356', '41.958797863, -87.738393906',
        '41.797971191, -87.598944513', '41.801226836, -87.58530316',
        '41.848179659, -87.702699356', '41.994225234, -87.686076881',
        '41.907965246, -87.694534282', '41.804147373, -87.73082849',
        '41.855806171, -87.674690588', '41.804853522, -87.676967754',
        '41.827087912, -87.648626816', '41.960518218, -87.762285982',
        '41.857666547, -87.692152661', '41.944946754, -87.685778214',
        '41.911971969, -87.704365711', '42.015719907, -87.68711599',
        '41.895257643, -87.733518051', '41.751337129, -87.726870174',
        '41.949591689, -87.761958275', '41.796640334, -87.745282845',
        '41.769784724, -87.573951955', '41.789501272, -87.730397152',
        '41.97153938, -87.738937205', '41.805924969, -87.604058625',
        '42.021223593, -87.669824772', '41.831157182, -87.638333371',
        '41.964652354, -87.721016769', '41.915496209, -87.710195634',
        '41.805978405, -87.599198985', '41.87864409, -87.685131831',
        '41.960675697, -87.752409137', '41.815268494, -87.741190447',
        '41.855501353, -87.683227168', '41.743720912, -87.619542924',
        '41.835067917, -87.64316237', '41.971142808, -87.705776701',
        '41.826831911, -87.663798872', '41.702776687, -87.677207021',
        '41.841875281, -87.632028593', '41.923478945, -87.734142469',
        '41.963115755, -87.713229335', '41.834097391, -87.619289519',
        '41.783170859, -87.603558887', '41.842303942, -87.655516289',
        '41.660136051, -87.60284764', '41.964647733, -87.725891015',
        '41.728182061, -87.596475596', '41.920265121, -87.770537764',
        '41.949353232, -87.78151908', '41.977002304, -87.761924979',
        '41.994498038, -87.757597486', '42.008540761, -87.69496375',
        '41.855989873, -87.664906886', '41.803907115, -87.747947899',
        '41.959210185, -87.712973172', '41.978068292, -87.819789114',
        '41.853834685, -87.693538797', '41.942699578, -87.731002484',
        '41.827400252, -87.624088952', '42.009150063, -87.67861897',
        '41.942488155, -87.747154322', '41.977322582, -87.752223368',
        '41.912073493, -87.69947972', '41.979204551, -87.797398984',
        '41.9519781, -87.841558069', '41.776163693, -87.579948248',
        '41.797827019, -87.603745765', '41.81622348, -87.651692953',
        '41.841859565, -87.63920165', '41.801671037, -87.594265698',
        '41.90616787, -87.733857019', '41.952664895, -87.745243205',
        '42.016046492, -87.673333778', '41.768601101, -87.565823879',
        '41.868132428, -87.714214708', '41.949709077, -87.752118415',
        '41.965362587, -87.731832739', '41.975280926, -87.783238034',
        '41.741386627, -87.547009864', '41.9895838, -87.78301328',
        '41.972132119, -87.7976349', '41.919181737, -87.721248555',
        '41.935745058, -87.730301758', '41.911856592, -87.710087322',
        '41.97681175, -87.701941074', '41.949473219, -87.771758223',
        '41.84171861, -87.643932494', '41.972597767, -87.723781966',
        '41.699756685, -87.628085282', '41.755961431, -87.551994147',
        '41.8759663, -87.693793902', '41.885075298, -87.713853381',
        '41.986558181, -87.713368804', '41.964568045, -87.77226499',
        '41.980077851, -87.773470927', '41.856506738, -87.652261296',
        '41.836510322, -87.6531587', '41.92785319, -87.735625949',
        '41.911788858, -87.721509703', '41.93573609, -87.698946916',
        '41.776408793, -87.751940269', '41.746215584, -87.690340528',
        '41.86911914, -87.756067704', '41.813201295, -87.593561288',
        '41.927819073, -87.751362692', '41.922711759, -87.721835793',
        '41.81749249, -87.686845262', '41.820166606, -87.621499206',
        '41.95679809, -87.772043822', '42.005608023, -87.81309813',
        '41.980843616, -87.736083927', '41.986895043, -87.703668273',
        '41.827274669, -87.627746472', '41.919564556, -87.75097986',
        '41.826833015, -87.672925539', '41.855250088, -87.654739492',
        '41.934728072, -87.780952919', '41.776430777, -87.637635387',
        '41.87161966, -87.705552633', '41.795760256, -87.79158835',
        '41.782113893, -87.739958858', '41.827613139, -87.604241624',
        '41.852676183, -87.705145931', '41.942554228, -87.738569226',
        '41.927560895, -87.770737328', '41.9729552, -87.772616911',
        '41.995603135, -87.794269296', '42.01569675, -87.699663042',
        '41.949125166, -87.796828047', '41.814003822, -87.61168488',
        '41.670421943, -87.619007255', '41.717967256, -87.613228634',
        '41.919635231, -87.729679134', '41.806765271, -87.608949278',
        '41.926163105, -87.761039875', '41.878597556, -87.688901948',
        '41.695652247, -87.671406498', '41.911666588, -87.733950998',
        '42.015254739, -87.813587865', '41.911784795, -87.71498899'],
       dtype=object))

# 2. Data Cleaning

In [15]:
chicago_taxi = chicago_taxi.copy()

In [17]:
chicago_taxi.head()

,unique_key,taxi_id,trip_year,trip_start_timestamp,trip_start_date,trip_start_time,trip_end_timestamp,trip_end_date,trip_end_time,trip_seconds,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,pickup_location,dropoff_location
0,3b838244692ab501427001b44af93f77c86204d4,6e40306a3a76d2e41f2530cc314ecfbd2520aae13202d7...,2015,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,2015-04-19 00:15:00+00:00,2015-04-19,00:15:00,147.0,...,1.0,7.05,Credit Card,Blue Diamond,41.942585,-87.656644,41.942692,-87.651771,"41.94258518, -87.656644092","41.942691844, -87.651770507"
1,261244b20b7cc4bb971b9d21bc9f756bd8ee07d9,6aeb4a88ff55ac575e3ef10ef32622967534bd48fb9ba6...,2015,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,552.0,...,1.5,10.95,Credit Card,American United,41.885281,-87.657233,41.912432,-87.670189,"41.88528132, -87.6572332","41.912431869, -87.670189148"
2,eac1e0162828f4ddd7ae137adb168c0831a3bf72,641c9356c873f4b5fb13d4b2f70d8b4d4b7b2c98057272...,2015,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,2015-04-19 00:15:00+00:00,2015-04-19,00:15:00,629.0,...,1.5,11.15,Credit Card,American United,41.893216,-87.637844,41.892042,-87.631864,"41.89321636, -87.63784421","41.892042136, -87.63186395"
3,5f54f3b346e021ac2549229752cb6f59f6065653,8307cf9433f0293eee99c6944aeab484521d9cd9b1fce5...,2015,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,182.0,...,1.0,5.65,Cash,American United,41.936237,-87.656412,41.941556,-87.666289,"41.936237179, -87.656411531","41.941555829, -87.666288887"
4,3fa6dc0f02a81ee04349f398fdbc0f583c1669ff,687e3ef9daf087b79188bf0fea27f22cd5786b0cda0c80...,2015,2015-04-19 00:00:00+00:00,2015-04-19,00:00:00,2015-04-19 00:15:00+00:00,2015-04-19,00:15:00,708.0,...,1.5,10.95,Cash,American United,41.895033,-87.619711,41.892493,-87.664746,"41.89503345, -87.619710672","41.892493167, -87.664745836"

In [16]:
chicago_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1778219 entries, 0 to 1778218
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   unique_key              object
 1   taxi_id                 object
 2   trip_year               int64
 3   trip_start_timestamp    object
 4   trip_start_date         object
 5   trip_start_time         object
 6   trip_end_timestamp      object
 7   trip_end_date           object
 8   trip_end_time           object
 9   trip_seconds            float64
 10  trip_miles              float64
 11  pickup_community_area   float64
 12  dropoff_community_area  float64
 13  fare                    float64
 14  tips                    float64
 15  tolls                   float64
 16  extras                  float64
 17  trip_total              float64
 18  payment_type            object
 19  company                 object
 20  pickup_latitude         float64
 21  pickup_longitude        float64
 22  dropoff_latitude        float64
 23  dropoff_longitude       float64
 24  pickup_location         object
 25  dropoff_location        object
dtypes: float64(13), int64(1), object(12)
memory usage: 352.7+ MB

In [18]:
chicago_taxi.isnull().sum()

unique_key                      0
taxi_id                         0
trip_year                       0
trip_start_timestamp            0
trip_start_date                 0
trip_start_time                 0
trip_end_timestamp              0
trip_end_date                   0
trip_end_time                   0
trip_seconds                   85
trip_miles                      0
pickup_community_area       46967
dropoff_community_area      81578
fare                            0
tips                            0
tolls                     1778219
extras                          0
trip_total                      0
payment_type                    0
company                         0
pickup_latitude             46885
pickup_longitude            46885
dropoff_latitude            78108
dropoff_longitude           78108
pickup_location                 0
dropoff_location                0
dtype: int64

In [19]:

trip_seconds_null = chicago_taxi[chicago_taxi['trip_seconds'].isnull()]
trip_seconds_null

,unique_key,taxi_id,trip_year,trip_start_timestamp,trip_start_date,trip_start_time,trip_end_timestamp,trip_end_date,trip_end_time,trip_seconds,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,pickup_location,dropoff_location
20567,1ede641ffd6bbd7f0c8d53e39c550135866d347b,824726452b94cfd411500410b26d1d60e5e07ada21556d...,2015,2015-11-01 02:00:00+00:00,2015-11-01,02:00:00,2015-11-01 01:15:00+00:00,2015-11-01,01:15:00,NaN,...,1.5,13.38,Credit Card,American United,41.900266,-87.632109,41.921778,-87.651062,"41.900265687, -87.63210922","41.921778188, -87.651061884"
20568,758f0bd0f3f37653a7457e0b04a512ef510ce523,b5e563475714c9be944c844b7bfa126481e9f9222ff26d...,2015,2015-11-01 02:00:00+00:00,2015-11-01,02:00:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,1.0,5.65,Cash,American United,41.893216,-87.637844,41.892042,-87.631864,"41.89321636, -87.63784421","41.892042136, -87.63186395"
20569,e3ba16789cbc48d77ef5b419a9998c0c90540972,50142176d90fb9c95a38ae58b5ecd2aa8f7c49b54ff90b...,2015,2015-11-01 02:00:00+00:00,2015-11-01,02:00:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,0.0,11.65,Credit Card,American United,41.902788,-87.626146,41.928967,-87.656157,"41.902788048, -87.62614559","41.928967266, -87.656156831"
20570,f2a338367669b35f24160563df182bdf509139f7,1344830e881c7eba092d0c19fc0d33fb004fce69324141...,2015,2015-11-01 02:00:00+00:00,2015-11-01,02:00:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,1.0,12.71,Credit Card,Checker Taxi,41.880994,-87.632746,41.871351,-87.688675,"41.880994471, -87.632746489","41.8713514, -87.6886749"
20571,86c41279bab5eaf5fe9a395422a1deee04f7b41f,d13c5aaa066f94b4927779ed24cd313b0c686f03407095...,2015,2015-11-01 02:00:00+00:00,2015-11-01,02:00:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,1.0,9.85,Cash,Blue Diamond,41.921778,-87.651062,41.899507,-87.679600,"41.921778188, -87.651061884","41.899506548, -87.679600287"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1621203,56fd1399598eea415cce4d4c705c6c492c124074,22c14626f6bfb534f0181e4584ad8bd04d7f988f254d9f...,2015,2015-11-01 01:45:00+00:00,2015-11-01,01:45:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,0.0,11.85,Credit Card,American United,41.885300,-87.642808,41.934659,-87.646730,"41.885300022, -87.642808466","41.934659157, -87.646729729"
1621204,38686acfd995543dbb35f1085e3009bcd030fbfa,60e9b32a85d0045d670d329891f51b9796543659769e9a...,2015,2015-11-01 01:45:00+00:00,2015-11-01,01:45:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,1.0,22.83,Credit Card,Checker Taxi,41.946295,-87.654298,41.885300,-87.642808,"41.946294536, -87.654298084","41.885300022, -87.642808466"
1621205,aa07ebd014898d47721c222f932d4fcc25ca7fd4,de42f8191f3b8079c680589098c5f3f6e2d202e98f8a81...,2015,2015-11-01 01:45:00+00:00,2015-11-01,01:45:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,1.0,19.38,Credit Card,Blue Diamond,41.922686,-87.649489,41.874005,-87.663518,"41.922686284, -87.649488729","41.874005383, -87.66351755"
1621206,f798670f2a0ee858eea6ea64657dce1899d3463e,8abc7af60f163d05f5202eacbab892f7b2c5d2d4b3ebba...,2015,2015-11-01 01:45:00+00:00,2015-11-01,01:45:00,2015-11-01 01:00:00+00:00,2015-11-01,01:00:00,NaN,...,0.0,13.85,Cash,Blue Diamond,41.885300,-87.642808,41.926811,-87.642605,"41.885300022, -87.642808466","41.926811182, -87.642605247"
1621253,677fd5c2828d87bb8157927c0947fc6a1687711d,978a4839c7b19aa99a5a0acc0c3fab414527057fde946f...,2015,2015-11-01 01:30:00+00:00,2015-11-01,01:30:00,2015-11-01 01:15:00+00:00,2015-11-01,01:15:00,NaN,...,1.0,26.85,Cash,American United,41.885281,-87.657233,41.880994,-87.632746,"41.88528132, -87.6572332","41.880994471, -87.632746489"